@model IEnumerable<JiveTest.Models.JivePersonObject>

@{
    ViewBag.Title = "Get Users";
}

<h2>Get Users</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayName)
        </td>
    </tr>
}

</table>
